
$darkBlue: #588AB8;
$lightBlue: #40D6CD;
$lightGrayBackground: #FAFAFA;
$noaMessageColor: #FCF8EE;
$userMessageColor: #F4FCEE;

.block {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 25px;
  width:100%;
  height:100vh;
  overflow-y: hidden;
  .display-div {
    width:100%;
    height: 65%;
    border-radius: 15px;
    background: $lightGrayBackground;
    box-shadow: 0 0 3px rgba(0,0,0,0.3);
    position: relative;
    .settings-div{
      background: linear-gradient(90deg, $darkBlue, $lightBlue);
      width: 100%;
      display: flex;
      height: 80px;
      border-radius: 15px 15px 0px 0px;
      justify-content: space-between;
      align-items: center;
      padding-left: 25px;
      padding-right: 25px;
      box-shadow: 0 0 3px rgba(0,0,0,0.3);
      .burger-img{
        cursor: pointer;
      }
      h1{
        color: white;
        font-size: 2.5em;
        font-weight: lighter;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        text-shadow: 0 0 2px rgba(0,0,0,0.2);
      }
      .settings-img{
        cursor: pointer;
      }
    }
    .chat-div{
      width:100%;
      height: 80%;
      padding: 15px;
      overflow-x: hidden;
      overflow-y: auto;
      .show{
        display: block;
      }
      .hide{
        display: none;
      }
      .wrapper {
        padding-top: 15px;
        .message {
          box-shadow: 0 0 3px rgba(0,0,0,0.3);
          padding: 15px;
          display: inline-block;
          max-width: 65%;
          p {
            color: black;
            font-size: 1em;
            text-align: justify;
          }
        }
      }
      .wrapper.noa-wrapper {
        text-align: left;
        padding-left: 15px;
        .message.noa-message {
          background: $noaMessageColor;
          border-radius: 0px 15px 15px 15px;
        }
      }
      .wrapper.user-wrapper{
        text-align: right;
        padding-right: 15px;
        .message.user-message {
          background: $userMessageColor;
          border-radius: 15px 0px 15px 15px;
        }
      }
    }
    .loading{
      margin-top: 25px;
      margin-left: 15px;
      height: 20px;
      position: absolute;
      bottom:10px;
      left:20px;
      display: none;
      div{
        width:15px;
        height: 15px;
        margin-right:10px;
        background: white;
        border-radius: 20px;
        display: inline-block;
        animation-name: loading-animation;
        animation-duration: 1.5s;
        animation-iteration-count: infinite;
        box-shadow: 0 0 2px rgba(0,0,0,0.3);
      }
      div:nth-child(1){
        animation-timing-function: ease-in-out;
      }
      div:nth-child(3){
        animation-timing-function: ease-in-out;
      }
    }
  }
  .interface-div{
    width:100%;
    height: 35%;
    padding-top: 15px;
    .operations-div{
      display: flex;
      justify-content: space-between;
      align-items: center;
      .options-div{
        display: flex;
        width: 150px;
        padding: 10px;
        background: linear-gradient(90deg, $darkBlue, $lightBlue);
        box-shadow: 0 0 3px rgba(0,0,0,0.3);
        border-radius: 15px;
        justify-content: space-around;
        align-items: center;
        img{
          width:30px;
          height:30px;
          cursor: pointer;
        }
      }
      .suggestions-div{
        .suggestions{
          outline:none;
          background: linear-gradient(90deg, $darkBlue, $lightBlue);
          box-shadow: 0 0 3px rgba(0,0,0,0.3);
          border-radius: 15px;
          padding: 1.5px;
          border:none;
          font-size: 1.2em;
          font-weight: 300;
          cursor: pointer;
          p{
            background: white;
            border: none;
            border-radius: 15px;
            padding: 8px;
            padding-left: 20px;
            padding-right: 20px;
            span {
              background: -webkit-linear-gradient($darkBlue, $lightBlue);
              -webkit-background-clip: text;
              -webkit-text-fill-color: transparent;
              text-shadow: 0 0 1px rgba(0,0,0,0.1);
            }
          }
        }
      }
      .microphone-div{
        .microphone{
          outline:none;
          background: linear-gradient(90deg, $darkBlue, $lightBlue);
          box-shadow: 0 0 3px rgba(0,0,0,0.3);
          border-radius: 15px;
          padding: 1.2px;
          border:none;
          font-size: 1.1em;
          font-weight: 300;
          cursor: pointer;
          transition: 0.3s;
          width: 70px;
          height:63px;
          text-align: center;
          p{
            background: white;
            border: none;
            border-radius: 15px;
            padding: 8px;
            padding-left: 15px;
            padding-right: 15px;
            width: 100%;
            height: 100%;
            transition: 0.3s;
            span {
              background: -webkit-linear-gradient($darkBlue, $lightBlue);
              -webkit-background-clip: text;
              -webkit-text-fill-color: transparent;
              text-shadow: 0 0 1px rgba(0,0,0,0.1);
              img{
                width:40px;
                height:40px;
              }
            }
          }
          p.stop{
            border-radius: 15px;
          }
          p.start{
            border-radius: 25px;
            animation-name: recording-animation;
            animation-timing-function: ease-in-out;
            animation-duration: 1.5s;
            animation-iteration-count: infinite;
          }
        }
        .microphone:hover{
          box-shadow: 0 0 8px rgba(88,138,184,0.9);
        }
      }
    }
    .writeplace-div{
      margin-top: 15px;
      width: 100%;
      height:150px;
      border-radius: 15px;
      display: flex;
      justify-content: space-between;
      textarea{
        width: 90%;
        height:150px;
        background: $lightGrayBackground;
        box-shadow: 0 0 3px rgba(0,0,0,0.3);
        padding: 25px;
        font-size: 1.5em;
        border:none;
        border-radius: 15px;
        font-weight: lighter;
        outline:none;
        resize: none;
      }
      .send-img{
        align-self: flex-end;
        margin: 25px;
        cursor: pointer;
      }
    }
  }
}

@keyframes loading-animation {
  from {
    width: 15px;
    height: 15px;
    background: $darkBlue;
  }
  50%{
    width: 17px;
    height: 17px;
    background: $lightBlue;
  }
  to {
    width: 15px;
    height: 15px;
    background: $darkBlue;
  }
}

@keyframes recording-animation {
  from {
    border-radius: 15px;
    background: white;
    box-shadow: none;
  }
  50%{
    border-radius: 50px;
    box-shadow: 0 5px 100px rgba(88,138,184,0.95);
  }
  to {
    border-radius: 15px;
    background: white;
    box-shadow: none;
  }
}